<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/charade"
        android:label="@string/app_name"
        android:roundIcon="@drawable/charade"
        android:supportsRtl="true"
        android:theme="@style/Theme.Guess_Numer"
        tools:targetApi="31">
        <activity
            android:name=".frnd50"
            android:exported="false" />
        <activity
            android:name=".frnd20"
            android:exported="false" />
        <activity
            android:name=".Frnd"
            android:exported="false" />
        <activity
            android:name=".options"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".feedback"
            android:exported="false" />
        <activity
            android:name=".Levels3"
            android:exported="false" />
        <activity
            android:name=".Levels2"
            android:exported="false" />
        <activity
            android:name=".Levels"
            android:exported="false" />
        <activity
            android:name=".desing"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>